html{
    background-color: #202326;
}



body {
    margin:0;
    font-family: Bahnschrift,sans-serif;
}

*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background: #40474f;
}
*::-webkit-scrollbar-thumb {
    background-color: #755d2f;
    border-radius: 20px;
    border: 3px #40474f;
}
.topnav {
    overflow: auto;
    background-color: #40474f;
    padding: 20px 15px;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.active {
    background-color:#755d2f;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: auto;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #40474f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #5d6772;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

.headerright{
    float:right;
}
.logo{
    font-size: 25px;
    font-weight: bold;
}




.dropdown2 {
    float: left;
    overflow: auto;
}

.dropdown2 .dropbtn2 {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #40474f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-x: auto;
}

.dropdown-content2 a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.topnav a:hover, .dropdown2:hover .dropbtn2 {
    background-color: #5d6772;
    color: white;
}

.dropdown-content2 a:hover {
    background-color: #5d6772;
    color: white;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.column {
    float: right;
    padding: 0px 20px;
    position:relative;
}

/* Left and right column */
.column.side {
    width: 15%;
    float:right;
    margin:15px;
    position:relative;
    margint-top:20px;
    text-align: center;
}

/* Middle column */
.column.middle {
    width: 70%;
    float:left;
    position:relative;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
.content{
    color:white;
    padding-bottom: 5rem;
    position:absolute;
    font-size: large;
    line-height: 1.8;

}
.content h2{
    color:lightblue;
}
.content h1{
    font-size: 55px;
    position:relative;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#40474f;
    color: white;
    text-align: center;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#755d2f;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color:#5d6772;
}

.calltoaction {
    padding: 10px 25px;
    font-size: 14px;
    font-family: "Dubai", serif;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #755d2f;
    border: none;
    border-radius: 15px;
    align-items: center;
}