html{
    background-color:#2D2E39;
    --scrollbarBG:#2D2E39;
    --thumbBG: #755d2f;

}


footer {
    text-align: center;
    background-color: #40474f;
    color: white;
    font-size: 15px;
    font-family: "Dubai Light";
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}



body {
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);

}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color:#40474f;
    position: fixed;
    height: 90%;
    overflow: auto;
    margin-top: 20px;
    margin-left:12px;
    margin-right:12px;
    margin-bottom: 5px;
    font-size: medium;
}

li a {
    display:block;
    color: white;
    padding: 20px 20px 40px;
    text-decoration: none;
    font-family: Bahnschrift;


}

li a.active {
    background-color: #755d2f;
    color: white;
    padding:20px 20px 30px;
}

li a:hover:not(.active) {
    background-color: #596f79;
    color: white;
    padding:20px 20px 30px;
}

.content{
    margin-left: 20%;
    margin-right:15%;
    padding:1px 16px;
    height:1000px;
    width:70%;
    color: #ffffff;
    font-size: 20px;
    font-family: Bahnschrift;
}



.heading {
    text-align: center;
    font-size: xx-large;
    color: #d9b26f;
    font-family: "Dubai Light";
}

.example {
    overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    width: 11px;
}